<h1 mat-dialog-title>Редактирование агента: {{ agentForm.get('id')?.value }}</h1>
<div mat-dialog-content>
  <form [formGroup]="agentForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label for="login">Логин агента</mat-label>
      <input matInput formControlName="login" id="login">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label for="firstName">Имя</mat-label>
      <input matInput formControlName="firstName" id="firstName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label for="lastName">Фамилия</mat-label>
      <input matInput formControlName="lastName" id="lastName">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label for="city">Город</mat-label>
      <input matInput formControlName="city" id="city">
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label for="branchId">Филиал</mat-label>
      <mat-select formControlName="branchId" id="branchId">
        <mat-option *ngFor="let branch of branches" [value]="branch.id">
          {{ branch.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-flat-button (click)="saveAgent()">Сохранить</button>
  <button mat-button (click)="onNoClick()">Отмена</button>
</div>
