.dropdown-toggle, .dropdown-item, .nav-link{
    cursor: pointer
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nav-links a {
    margin-right: 10px;
  }
  
  .account-info {
    display: flex;
    align-items: center;
  }
  
  .login-form {
    display: flex;
    gap: 10px;
  }

  .user-menu-button {
    display: flex;
    align-items: center;
    justify-content: center; /* Это позволяет выровнять элементы по центру */
  }
  
  .arrow-icon {
    margin-left: 4px; /* Отступ слева для иконки */
  }