<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" href="#">DayGlimpse</a>

        <ul *ngIf="accountService.isLoggedIn()" class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/agents">Агенты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/respondents">Респонденты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/branches">Филиалы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/reports">Отчеты</a>
            </li>        
        </ul> 
        
        <div *ngIf="accountService.isLoggedIn()" dropdown class="dropdown">
            <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">Welcome {{currentAgent?.agentName | titlecase}}</a>
            <div *dropdownMenu  class="dropdown-menu">
                <a class="dropdown-item" (click)="logout()">Выход</a>
            </div>
        </div>
        
        <form *ngIf="!accountService.isLoggedIn()" #loginForm="ngForm" (ngSubmit)="login()" class="d-flex ms-auto" >
            <input 
                name="username" 
                [(ngModel)]="model.AgentName" 
                class="form-control me-2" 
                placeholder="Username">
            <input 
                name="password"
                [(ngModel)]="model.Password"
                class="form-control me-2" 
                placeholder="Password" 
                type="password">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Login</button>
        </form>     
    </div>
</nav>