<h2 mat-dialog-title>Редактирование комментария</h2>

<mat-dialog-content class="mat-dialog-content">
  <textarea matInput [(ngModel)]="commentEditValue" rows="6" class="full-width-textarea"></textarea>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Отмена</button>
  <button mat-button color="primary" (click)="onSave()">OK</button>
</mat-dialog-actions>

<style>
  .mat-dialog-content {
    display: flex;
    flex-direction: column;
  }
  
  .full-width-textarea {
    width: 100%;
  }
  </style>