<div class="container mt-5">
  <h2>Детали агента</h2>
  <form #agentForm="ngForm" (ngSubmit)="saveAgent()">
    <div class="form-group">
      <label>Имя агента:</label>
      <input type="text" class="form-control" name="agentname" [(ngModel)]="updatedAgent.agentName" required>
    </div>
    <div class="form-group">
      <label>Город:</label>
      <input type="text" class="form-control" name="city" [(ngModel)]="updatedAgent.city">
    </div>
    <div class="form-group">
      <label>Выберите филиал:</label>
      <select class="form-control" name="branchId" [(ngModel)]="updatedAgent.branchId">
        <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
      </select>
    </div>
    <div class="form-group mt-3">
      <button class="me-2" mat-flat-button type="submit">Сохранить</button>
      <button mat-button (click)="cancel()">Отмена</button>
    </div>
  </form>
</div>
