<mat-dialog-content>
    <form class="registration-form">
      <h2 class="text-center">Регистрация</h2>
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Имя пользователя</mat-label>
        <input matInput placeholder="Введите ваше имя пользователя" [(ngModel)]="model.username" name="username">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Пароль</mat-label>
        <input matInput type="password" placeholder="Введите ваш пароль" [(ngModel)]="model.password" name="password">
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Выберите филиал</mat-label>
        <mat-select [(ngModel)]="model.branchId" name="branchId">
          <mat-option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Город</mat-label>
        <input matInput placeholder="Введите ваш город" [(ngModel)]="model.city" name="city">
      </mat-form-field>
  
      <div class="actions">
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid" type="submit">Зарегистрироваться</button>
        <button mat-button mat-dialog-close>Отмена</button>
      </div>
    </form>
  </mat-dialog-content>
  