<mat-label class="mb-3">Отчеты</mat-label>
<mat-divider class="mb-3"></mat-divider>
<div class="container mt-4" *ngIf="!isLoading">
  <div class="row align-items-center">
    <div class="col-2">
      <button mat-flat-button class="mb-3" (click)="openNewReportPage()">
        <mat-icon>add</mat-icon>
        Добавить
      </button>
    </div>
    <div class="col-10">
      <mat-form-field class="full-width">
        <mat-label>Фильтр</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Например, имя респондента" #input>
      </mat-form-field>
    </div>
  </div>

  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">

      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> № </th>
        <td mat-cell *matCellDef="let report"> {{ getRecordIndex(report) }} </td>
      </ng-container>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id отчета </th>
        <td mat-cell *matCellDef="let report"> {{ report.id }} </td>
      </ng-container>

      <ng-container matColumnDef="reportEntries">
        <th mat-header-cell *matHeaderCellDef> Количество записей </th>
        <td mat-cell *matCellDef="let report"> {{ report.reportEntries.length }} </td>
      </ng-container>

      <ng-container matColumnDef="reportDate">
        <th mat-header-cell *matHeaderCellDef> Дата отчета </th>
        <td mat-cell *matCellDef="let report"> {{ report.reportDate | date:'dd.MM.yyyy HH:mm' }} </td>
      </ng-container>

      <ng-container matColumnDef="agentName">
        <th mat-header-cell *matHeaderCellDef> Агент </th>
        <td mat-cell *matCellDef="let report"> {{ report.agentName }} </td>
      </ng-container>

      <ng-container matColumnDef="respondentName">
        <th mat-header-cell *matHeaderCellDef> Респондент </th>
        <td mat-cell *matCellDef="let report"> {{ report.respondentName }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> Статус </th>
        <td mat-cell *matCellDef="let report">
          <span class="status-circle"
            [ngClass]="{'confirmed': report.isConfirmed, 'not-confirmed': !report.isConfirmed}"
            [matTooltip]="report.isConfirmed ? 'Подтверждено' : 'Не подтверждено'" matTooltipPosition="above">
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Действия </th>
        <td mat-cell *matCellDef="let report">

          <button mat-icon-button aria-label="expand row"
            (click)="expandedElement = expandedElement === report ? null : report; $event.stopPropagation()">
            <mat-icon>{{expandedElement === report ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </button>

          <ng-container *ngIf="report.agentId === currentAgentId">
            <button mat-icon-button color="primary" (click)="editReport(report)">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-container>

        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let report" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail" [@detailExpand]="report == expandedElement ? 'expanded' : 'collapsed'">
            <table mat-table [dataSource]="report.reportEntries" class="inner-table mat-elevation-z8 gray-background">
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> № </th>
                <td mat-cell *matCellDef="let entry; let i = index"> {{ i + 1 }} </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id записи </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.id }} </td>
              </ng-container>
              <ng-container matColumnDef="procedureName">
                <th mat-header-cell *matHeaderCellDef> Процедура </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.procedureName }} </td>
              </ng-container>
              <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef> Начало </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.startTime | date:'HH:mm dd.MM.yyyy ' }} </td>
              </ng-container>
              <ng-container matColumnDef="endTime">
                <th mat-header-cell *matHeaderCellDef> Конец </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.endTime | date:'HH:mm dd.MM.yyyy' }} </td>
              </ng-container>
              <ng-container matColumnDef="category">
                <th mat-header-cell *matHeaderCellDef> Категория </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.categoryName }} </td>
              </ng-container>
              <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef> Комментарий </th>
                <td mat-cell *matCellDef="let entry"> {{ entry.comment }} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="['index', 'id', 'procedureName', 'startTime', 'endTime', 'category', 'comment']">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['index', 'id', 'procedureName', 'startTime', 'endTime', 'category', 'comment'];">
              </tr>
              <!-- Row shown when there is no matching data. -->
            </table>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let report; columns: displayedColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === report"
        (click)="expandedElement = expandedElement === report ? null : report">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>
  </div>
</div>
<mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>