<div class="container mt-4" *ngIf="!isLoading">
  <h2>Отчеты</h2>
  <button class="mb-3" mat-fab extended routerLink="/reports/new">
    <mat-icon>add</mat-icon>
    Добавить
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Номер отчета</th>
        <th>Количество записей</th>
        <th>Дата отчета</th>
        <th>Агент</th>
        <th>Респондент</th>
        <th>Статус</th>
        <th>Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of reports">
        <td>{{ report.id }}</td>
        <td>{{ report.reportEntries.length }}</td>
        <td>{{ report.reportDate | date }}</td>
        <td>{{ report.agentName }}</td>
        <td>{{ report.respondentName }}</td>
        <td>
          <span class="status-circle"
            [ngClass]="{'confirmed': report.isConfirmed, 'not-confirmed': !report.isConfirmed}"></span>
        </td>
        <td>
          <button *ngIf="!report.isConfirmed" class="btn btn-secondary btn-sm btn-edit"
            (click)="editReport(report)">
            <i class="bi bi-pencil"></i> <!-- Иконка редактирования -->
          </button>
          <button *ngIf="report.isConfirmed" class="btn btn-secondary btn-sm btn-view" (click)="viewEntries(report)">
            <i class="bi bi-eye"></i> <!-- Иконка просмотра -->
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal для отображения записей отчета -->
  <div class="modal" tabindex="-1" [ngClass]="{'show': selectedReport && selectedReport.isConfirmed}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Записи отчета #{{ selectedReport?.id }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="selectedReport = null"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Номер записи</th>
                            <th>Процедура</th>
                            <th>Начало</th>
                            <th>Конец</th>
                            <th>Комментарий</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let entry of selectedReport?.reportEntries">
                            <td>{{ entry.id }}</td>
                            <td>{{ entry.procedureName }}</td>
                            <td>{{ entry.startTime | date:'short' }}</td>
                            <td>{{ entry.endTime | date:'short' }}</td>
                            <td>{{ entry.comment }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="selectedReport = null">Закрыть</button>
            </div>
        </div>
    </div>
</div>
</div>