<div class="container">
  <mat-label class="mb-3">Список филиалов</mat-label>
  <mat-divider class="mb-3"></mat-divider>
  <button class="mb-3" mat-fab extended (click)="openDialog()">
    <mat-icon>add</mat-icon>
    Добавить
  </button>
  <mat-divider class="mb-3"></mat-divider>  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
      <mat-cell *matCellDef="let branch">{{ branch.id }}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell mat-header-cell *matHeaderCellDef>Наименование</mat-header-cell>
      <mat-cell *matCellDef="let branch">{{ branch.name }}</mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
      <mat-cell *matCellDef="let respondent">
        <button mat-icon-button color="primary" (click)="openDialog(respondent)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
