mat-form-field {
    width: 100%; /* Полная ширина для полей ввода */
  }
  
  .container {
    padding: 20px; /* Дополнительный отступ вокруг контента диалога */
  }

  mat-form-field {
    width: 100%;
  }
  
  mat-dialog-content {
    overflow: hidden; /* Предотвращает переполнение содержимого */
  }
  
  /* Улучшения для мобильных устройств */
  @media (max-width: 600px) {
    mat-form-field {
      width: 100%;
    }
  }
  
  .snackbar-error {
    color: #fff;
    background-color: #D32F2F;
  }
  