<div class="container mt-5" *ngIf="agents">
    <h2>Список агентов</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th># агента</th>
                <th>Имя агента</th>
                <th>Город</th>
                <th>Филиал</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let agent of agents">
                <td>{{ agent.id }}</td>
                <td>{{ agent.agentName }}</td>
                <td>{{ agent.city }}</td>
                <td>{{ getBranchName(agent.branchId) }}</td>
                <td>
                    <button class="btn btn-sm btn-warning" (click)="editAgent(agent.id!)">Изменить...</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
